@model IEnumerable<PruebaTecnica.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista de Libros</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create Nuevo libro</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Autores" asp-action="Create">Crear Nuevo Autores</a>
</p> 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Autor.Nombre) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Nombre) <!-- Assuming Autor has a Nombre property -->
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
